<%- include("./partials/head.ejs", varTitle = "Works pending") %>
<body>
  
  <h2>    Works pending     </h2>
  <% varWorks.forEach((work) => { %>
    <div class="card">
    <p><%= work._id %></p>
    <p><%= work.keyTitle %></p>
    <p><%= work.keyDescription %></p>
    <p><%= work.keyBudget %></p> 
    <p><%= work.keyDeadline %></p>
    
        
         
    <%- include("./partials/modal.ejs", varWorkId = work._id ) %>
    <!-- Creating a new unique ID for every button on this page `ID-openModal`  -->    
    <button id="openModal">Create a Bid</button>
    
    <a href="/viewbidsforworkid/<%= work._id %>"> 
      <h4>View Current Bids for <%= work.keyTitle %> </h4>
    </a>


  </div>
    <% }); %>
    
    
    </body>
</html>

<style>
  .card{
    margin: 8px;
    padding: 8px;
    border: 1px solid grey;
  }
</style>

